<!DOCTYPE html>
<html>
<head>
  <title>Graper</title>
  <%= stylesheet_link_tag    "graper/application", :media => "all" %>
  <%= javascript_include_tag "graper/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
